# Code Ownership for merging renovate PRs
go.mod              @rancher/infracloud-team
go.sum              @rancher/infracloud-team
hack                @rancher/infracloud-team
package/Dockerfile  @rancher/infracloud-team
tests               @rancher/infracloud-team

# Default Code Ownership
*                   @rancher/rancher-security
